<!--
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
-->

<%@ page contentType="text/html;charset=UTF-8" %>

<g:form action = "resultadoAjax">
     <label for="id"> Nome </label> 
     <g:textField name="nome" />
     <g:submitToRemote class="buttons" value="Buscar" 
        update="resultado" url="[controller:'lista', action:'resultadoAjax']"/>
</g:form>

