<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title>HinoDeia</title>
		<style type="text/css" media="screen">
			#status {
				background-color: #eee;
				border: .2em solid #fff;
				margin: 200px;
				padding: 1em;
				width: 14em;
				float: left;
				-moz-box-shadow: 0px 0px 1.25em #ccc;
				-webkit-box-shadow: 0px 0px 1.25em #ccc;
				box-shadow: 0px 0px 1.25em #ccc;
				-moz-border-radius: 0.6em;
				-webkit-border-radius: 0.6em;
				border-radius: 0.6em;
			}

                        #meio {
                        position:relative;
                        
                        margin-top:50px ;
                
                        height:450px;
                        }
                        
                        #meio .img{
                        margin-left: 167px;
                        
                        }
                        
                        #meio .logo{
                        position:absolute;
                        margin-down: auto;
                        margin-top: auto;
                        top: 80px;
                        left:400px;
                       
                        width:50%;
                        height:50%;
                        }
                       

			.ie6 #status {
				display: inline; /* float double margin fix http://www.positioniseverything.net/explorer/doubled-margin.html */
			}

			#status ul {
				font-size: 0.9em;
				list-style-type: none;
				margin-bottom: 0.6em;
				padding: 0;
                                width:100%;
                                float:left;
			}

			#status li {
                                float:left;
                                font:15px arial;
				line-height: 1.3;
			}

			#status h1 {
				text-transform: uppercase;
				font-size: 1.1em;
				margin: 0 0 0.3em;    
                                text-decoration:none;
			}

			#page-body {
				margin: 2em 1em 1.25em 18em;
			}

			h2 {
				margin-top: 1em;
				margin-bottom: 0.3em;
				font-size: 1em;
			}

			p {
				line-height: 1.5;
				margin: 0.25em 0;
			}

			#controller-list ul {
				list-style-position: inside;
			}

			#controller-list li {
				line-height: 1.3;
				list-style-position: inside;
				margin: 0.25em 0;
			}

			@media screen and (max-width: 480px) {
				#status {
					display: none;
				}

				#page-body {
					margin: 0 1em 1em;
				}

				#page-body h1 {
					margin-top: 0;
				}
			}
		</style>
	</head>
        
	<body>
            
            <div id="meio">
                <asset:image class="img" src="centro.jpg" height="100%" width="75%"/>
                
                <div class="logo" title="logo HinoDeia">
                    <asset:image src="rufino.png" height="90%" width="40%"/>
            </div>
            </div>	
	</body>
</html>