/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;  
}
/* BASE LAYOUT */

html {
	 background: url(".jpg");
        
	background-size: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	
        
}


#cab{
    position: relative;
    width: 100%;
    background-color: #000;
    height: 70px;
    margin-bottom: 30px;
    opacity:0.4;
   
    
}
.texto{
    padding: 5px;
    padding-top: 20px;
    margin-left:180px; 
    font-size: 40px;
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
}


#mn{
    position: relative;
    top: -50px;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    border: 1px solid #000;
}


#conteudo{
    position: relative;
    top: 60px;
     
     width: 75%;
     margin-left:auto;
    margin-right: auto;
}

.fieldform{
    padding-left: 380px;
    color: #fff;
    margin-top: 20px;
    
}

#conteudo2{
    
    position: relative;
    top: 90px;
    border:  1px solid #000; 
    
}
 #rodape{
                                    position:relative;
                                    
                                    top: 76px;
                                    
                                    
                                }




body{
	color: #333333;
	margin: 0 auto;
	max-width: 100%;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	 
                height: 100%;
}

a:link, a:visited, a:hover {
	color: #48802c;
}

a:hover, a:active {
    
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
        
}

h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 1.25em;
	margin: 0.8em 0 0.3em 0;
       
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */

#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

.content {
}

.content h1 {
        color:#000;
	border-bottom: 1px solid #CCCCCC;
	margin: auto;
	padding: 0 0.25em;
        width: 75%;
        margin-top: 50px;
        text-align: center;
}

.scaffold-list h1 {
	border: none;
}

.footer {
	background:#EFEFEF;
	color: #000;
	clear: both;
	font-size: 0.8em;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	color: #255b17;
}

.spinner {
	background: url(spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
    height: 50px;
    width: 75%;
    margin: auto;
   
	background-color: #efefef;
	padding: 0.5em 0.75em;
	
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
       
}

.nav li{
        display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;  font-weight: bold; 
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
}



.nav a:active {
	color: #B22222;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        text-decoration: underline;
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}




#nav2{
    width: 98%;
    position: relative;
    margin: auto;
    background-color: #efefef;
	padding: 0.5em 0.75em;
    
}

#nav2 ul{
    margin: 0;
   
    list-style: none;
}

#nav2 ul li{
    
    display: inline;
    height: 500px;
    background-color: #000;
}


#nav2 ul li a{
    
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-weight: bold
}

#nav2 ul li a:hover{
    
   
    color: #6495ED;
    
}


.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
        top: 0;
}

.nav2 a.home {
	background-image: url(../images/skin/home.png);
        background-size: 40px;
        width:170px;
        height:100%;
        position: relative;
        top: 0;
        padding: 50px;
       
}

.nav2 a.list {
	background-image: url(../images/skin/listar.png);
        background-size: 55px;
        width:250px;
        height:100%;

}

.nav a.list_emp {
	background-image: url(../images/skin/listar.png);
        background-size: 55px;
        width:295px;
        height:100%;
        background-repeat: no-repeat;

}

.nav a.ano {
	background-image: url(../images/skin/ano.png);
        background-size: 40px;
        width:180px;
        height:100%;
        background-repeat: no-repeat;
}

.nav a.create {
	background-image: url(../images/skin/banco.png);
         background-size: 40px;
        width:190px;
        height:100%;
}


.nav a.create_emp {
	background-image: url(../images/skin/banco.png);
         background-size: 40px;
        width:260px;
        height:100%;
        background-repeat: no-repeat;
}


.nav a.create_ano {
	background-image: url(../images/skin/banco.png);
         background-size: 40px;
        width:212px;
        height:100%;
        background-repeat: no-repeat;
}
.nav a.busca {
	background-image: url(../images/skin/busca.png);
        background-size: 40px;
        width:170px;
        height:100%;
        background-repeat: no-repeat;
       
}

.nav a.busca_p {
	background-image: url(../images/skin/pedidos.png);
        background-size: 40px;
        width:170px;
        height:100%;
        background-repeat: no-repeat;
       
}

.nav a.busca_pd {
	background-image: url(../images/skin/produtos.png);
        background-size: 45px;
        width:170px;
        height:100%;
        background-repeat: no-repeat;
       
}
.nav a.listar {
	background-image: url(../images/skin/listar.png);
        background-size: 47px;
        width:130px;
        height:100%;
        background-repeat: no-repeat;
       
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: none;
        width: 200px; 
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
        color:#000;
        width:760px;
        margin-left:350px;
        
}

.fieldcontain label,
.fieldcontain .property-label {
	color: #0000;
	text-align: left;
	width: 50%;
        
       
}

.fieldcontain .property-label {
	float: left;
        margin-right: 500px;
      border-bottom: 1px solid #808080;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
         color: #0000;
        
         left: 450px;
        
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
        margin-right: 500px;
        color: #0000;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
        margin-left:0px;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	   -moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	        box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
        
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/ination.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
        width:80%;
       
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td{
    width:80%;
    text-align: left;
    padding-left: 15px;
} 

th {
    
    
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover, tr:hover {
	
}

/* PAGINATION */

.pagination {
	border-top: 0;
	margin: auto;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	        box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
        width: 75%;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
	background-color: transparent;
	background:transparent;
	overflow: hidden;
	padding: 0.3em;
	   
	margin-left: 600px;
	
        
}

.buttons input,
.buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;

}

.buttons .delete, .buttons .edit, .buttons .save {
      
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
     
       
       
}

.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save,
.ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save {
	padding-left: 36px;
}

.buttons .delete {
     background-color: #fff;
        color:#000;
        
	background-image: url(../images/skin/delete.png);
        background-size: 50px;
        width: 140px;
        height: 55px;
   
       
}

.buttons .edit {
     background-color: #fff;
        color:#000;
        
        background-color: #000;
	background-image: url(../images/skin/edit.png);
        background-size: 60px;
        margin-bottom: 3px;
        width: 209px;
        height: 55px;
   
       
        
     
        
}
.buttons .save {
        background-color: #fff;
        color:#000;
	background-image: url(../images/skin/save.png);
        background-size: 50px;
        width: 140px;
        height: 55px;
}

a.skip {
	position: absolute;
	left: -9999px;
}



//template rufino


//@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900");
//@import url("font-awesome.min.css");

/*
	Escape Velocity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	
	}

	body {
		line-height: 1;
               
                
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1200px;
		min-width: 960px;
	}

	.container.\37 5\25 {
		width: 720px;
	}

	.container.\35 0\25 {
		width: 480px;
	}

	.container.\32 5\25 {
		width: 240px;
	}

	.container {
		width: 960px;
	}

	@media screen and (min-width: 737px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

		.container.\37 5\25 {
			width: 900px;
		}

		.container.\35 0\25 {
			width: 600px;
		}

		.container.\32 5\25 {
			width: 300px;
		}

		.container {
			width: 1200px;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1250px;
			min-width: 1000px;
		}

		.container.\37 5\25 {
			width: 750px;
		}

		.container.\35 0\25 {
			width: 500px;
		}

		.container.\32 5\25 {
			width: 250px;
		}

		.container {
			width: 1000px;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 0 0 0 40px;
	}

	.row {
		margin: 0 0 -1px -40px;
	}

	.row.uniform > * {
		padding: 40px 0 0 40px;
	}

	.row.uniform {
		margin: -40px 0 -1px -40px;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 80px;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -80px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 60px;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -60px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 20px;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -20px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 10px;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -10px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (min-width: 737px) {

		.row > * {
			padding: 50px 0 0 50px;
		}

		.row {
			margin: -50px 0 -1px -50px;
		}

		.row.uniform > * {
			padding: 50px 0 0 50px;
		}

		.row.uniform {
			margin: -50px 0 -1px -50px;
		}

		.row.\32 00\25 > * {
			padding: 100px 0 0 100px;
		}

		.row.\32 00\25 {
			margin: -100px 0 -1px -100px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 100px 0 0 100px;
		}

		.row.uniform.\32 00\25 {
			margin: -100px 0 -1px -100px;
		}

		.row.\31 50\25 > * {
			padding: 75px 0 0 75px;
		}

		.row.\31 50\25 {
			margin: -75px 0 -1px -75px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 75px 0 0 75px;
		}

		.row.uniform.\31 50\25 {
			margin: -75px 0 -1px -75px;
		}

		.row.\35 0\25 > * {
			padding: 25px 0 0 25px;
		}

		.row.\35 0\25 {
			margin: -25px 0 -1px -25px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 25px 0 0 25px;
		}

		.row.uniform.\35 0\25 {
			margin: -25px 0 -1px -25px;
		}

		.row.\32 5\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.\32 5\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.uniform.\32 5\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.\31 2u\28desktop\29, .\31 2u\24\28desktop\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28desktop\29, .\31 1u\24\28desktop\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28desktop\29, .\31 0u\24\28desktop\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28desktop\29, .\39 u\24\28desktop\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28desktop\29, .\38 u\24\28desktop\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28desktop\29, .\37 u\24\28desktop\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28desktop\29, .\36 u\24\28desktop\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28desktop\29, .\35 u\24\28desktop\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28desktop\29, .\34 u\24\28desktop\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28desktop\29, .\33 u\24\28desktop\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28desktop\29, .\32 u\24\28desktop\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28desktop\29, .\31 u\24\28desktop\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28desktop\29 + *,
		.\31 1u\24\28desktop\29 + *,
		.\31 0u\24\28desktop\29 + *,
		.\39 u\24\28desktop\29 + *,
		.\38 u\24\28desktop\29 + *,
		.\37 u\24\28desktop\29 + *,
		.\36 u\24\28desktop\29 + *,
		.\35 u\24\28desktop\29 + *,
		.\34 u\24\28desktop\29 + *,
		.\33 u\24\28desktop\29 + *,
		.\32 u\24\28desktop\29 + *,
		.\31 u\24\28desktop\29 + * {
			clear: left;
		}

		.\-11u\28desktop\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28desktop\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28desktop\29 {
			margin-left: 75%;
		}

		.\-8u\28desktop\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28desktop\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28desktop\29 {
			margin-left: 50%;
		}

		.\-5u\28desktop\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28desktop\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28desktop\29 {
			margin-left: 25%;
		}

		.\-2u\28desktop\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28desktop\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		.row > * {
			padding: 35px 0 0 35px;
		}

		.row {
			margin: -35px 0 -1px -35px;
		}

		.row.uniform > * {
			padding: 35px 0 0 35px;
		}

		.row.uniform {
			margin: -35px 0 -1px -35px;
		}

		.row.\32 00\25 > * {
			padding: 70px 0 0 70px;
		}

		.row.\32 00\25 {
			margin: -70px 0 -1px -70px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 70px 0 0 70px;
		}

		.row.uniform.\32 00\25 {
			margin: -70px 0 -1px -70px;
		}

		.row.\31 50\25 > * {
			padding: 52.5px 0 0 52.5px;
		}

		.row.\31 50\25 {
			margin: -52.5px 0 -1px -52.5px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 52.5px 0 0 52.5px;
		}

		.row.uniform.\31 50\25 {
			margin: -52.5px 0 -1px -52.5px;
		}

		.row.\35 0\25 > * {
			padding: 17.5px 0 0 17.5px;
		}

		.row.\35 0\25 {
			margin: -17.5px 0 -1px -17.5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 17.5px 0 0 17.5px;
		}

		.row.uniform.\35 0\25 {
			margin: -17.5px 0 -1px -17.5px;
		}

		.row.\32 5\25 > * {
			padding: 8.75px 0 0 8.75px;
		}

		.row.\32 5\25 {
			margin: -8.75px 0 -1px -8.75px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 8.75px 0 0 8.75px;
		}

		.row.uniform.\32 5\25 {
			margin: -8.75px 0 -1px -8.75px;
		}

		.\31 2u\28tablet\29, .\31 2u\24\28tablet\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28tablet\29, .\31 1u\24\28tablet\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28tablet\29, .\31 0u\24\28tablet\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28tablet\29, .\39 u\24\28tablet\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28tablet\29, .\38 u\24\28tablet\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28tablet\29, .\37 u\24\28tablet\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28tablet\29, .\36 u\24\28tablet\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28tablet\29, .\35 u\24\28tablet\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28tablet\29, .\34 u\24\28tablet\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28tablet\29, .\33 u\24\28tablet\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28tablet\29, .\32 u\24\28tablet\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28tablet\29, .\31 u\24\28tablet\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28tablet\29 + *,
		.\31 1u\24\28tablet\29 + *,
		.\31 0u\24\28tablet\29 + *,
		.\39 u\24\28tablet\29 + *,
		.\38 u\24\28tablet\29 + *,
		.\37 u\24\28tablet\29 + *,
		.\36 u\24\28tablet\29 + *,
		.\35 u\24\28tablet\29 + *,
		.\34 u\24\28tablet\29 + *,
		.\33 u\24\28tablet\29 + *,
		.\32 u\24\28tablet\29 + *,
		.\31 u\24\28tablet\29 + * {
			clear: left;
		}

		.\-11u\28tablet\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28tablet\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28tablet\29 {
			margin-left: 75%;
		}

		.\-8u\28tablet\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28tablet\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28tablet\29 {
			margin-left: 50%;
		}

		.\-5u\28tablet\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28tablet\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28tablet\29 {
			margin-left: 25%;
		}

		.\-2u\28tablet\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28tablet\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 10px 0 0 10px;
		}

		.row {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform {
			margin: -10px 0 -1px -10px;
		}

		.row.\32 00\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.\32 00\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform.\32 00\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.\31 50\25 > * {
			padding: 15px 0 0 15px;
		}

		.row.\31 50\25 {
			margin: -15px 0 -1px -15px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 15px 0 0 15px;
		}

		.row.uniform.\31 50\25 {
			margin: -15px 0 -1px -15px;
		}

		.row.\35 0\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.\35 0\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.uniform.\35 0\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.\32 5\25 > * {
			padding: 2.5px 0 0 2.5px;
		}

		.row.\32 5\25 {
			margin: -2.5px 0 -1px -2.5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 2.5px 0 0 2.5px;
		}

		.row.uniform.\32 5\25 {
			margin: -2.5px 0 -1px -2.5px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body, input, textarea, select {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color: #919499;
               
	}
        input{
		
                margin-right: 500px;
                
	}

	body.is-loading * {
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		color: #484d55;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	a {
		-moz-transition: color .25s ease-in-out;
		-webkit-transition: color .25s ease-in-out;
		-ms-transition: color .25s ease-in-out;
		transition: color .25s ease-in-out;
		text-decoration: underline;
		color: #717479;
	}

		a:hover {
			text-decoration: none;
                        color: #000;
		}

	strong, b {
		font-weight: 700;
		color: #484d55;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	em, i {
		font-style: italic;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	.nobr {
		white-space: nowrap;
	}

	br.clear {
		clear: both;
	}

	p, ul, ol, dl, table, blockquote, form {
		margin-bottom: 2em;
	}

/* Table */

	table {
		width: 75%;
                margin:auto;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr:nth-child(2n+2) {
				background: #f4f4f4;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				text-align: left;
				font-weight: 400;
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default thead {
				background: #484d55;
				color: #fff;
			}

			table.default tfoot {
				background: #eee;
			}

/* Form */

	form label {
		display: block;
		font-weight: 700;
		color: #484d55;
                height: 20px;
                padding-left: 20px;
                margin-top: 50px;
                
                
	}

	form input[type="text"],
	form input[type="email"],
	form input[type="password"],
	form select,
	form textarea {
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		-webkit-appearance: none;
		
                display: block;
		border: 0;
		background: #eee;
		box-shadow: inset 0px 0px 1px 0px #a0a1a7;
		border-radius: 0.35em;
		width: 70%;
		padding: 0.75em 1em 0.75em 1em;
                left:50%;
          
                
	}

		form input[type="text"]:focus,
		form input[type="email"]:focus,
		form input[type="password"]:focus,
		form select:focus,
		form textarea:focus {
			background: #f8f8f8;
		}

	form input[type="text"],
	form input[type="email"]
	input[type="password"] {
		line-height: 1em;
	}

	form select {
		line-height: 1em;
	}

	form textarea {
		min-height: 10em;
	}

	form .formerize-placeholder {
		color: #555 !important;
		font-style: italic;
	}

	form ::-webkit-input-placeholder {
		color: #555 !important;
		font-style: italic;
		line-height: 1.35em;
	}

	form :-moz-placeholder {
		color: #555 !important;
		font-style: italic;
	}

	form ::-moz-placeholder {
		color: #555 !important;
		font-style: italic;
	}

	form :-ms-input-placeholder {
		color: #555 !important;
		font-style: italic;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

/* Section/Article */

	section,
	article {
		margin-bottom: 3em;
	}

	section > :last-child,
	article > :last-child,
	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

	header.style1 {
		text-align: center;
	}

		header.style1 h2 {
			font-weight: 700;
		}

		header.style1 p {
			color: #b1b4b9;
		}

/* Image */

	.image {
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		display: inline-block;
		background: #444;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.25em;
		text-decoration: none;
		border-radius: 0.35em;
		border: 0;
		outline: 0;
		cursor: pointer;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background-color: #808080;
                        color:#fff;
		}

		input[type="button"].style1,
		input[type="submit"].style1,
		input[type="reset"].style1,
		button.style1,
		.button.style1 {
			background: #e97770 url("overlay.png");
			color: #fff;
		}

			input[type="button"].style1:hover,
			input[type="submit"].style1:hover,
			input[type="reset"].style1:hover,
			button.style1:hover,
			.button.style1:hover {
				background-color:;
			}

			input[type="button"].style1:active,
			input[type="submit"].style1:active,
			input[type="reset"].style1:active,
			button.style1:active,
			.button.style1:active {
				background-color: #d96760;
			}

		input[type="button"].style2,
		input[type="submit"].style2,
		input[type="reset"].style2,
		button.style2,
		.button.style2 {
			background: none;
			color: #606167;
			box-shadow: inset 0px 0px 2px 0px #a0a1a7;
		}

			input[type="button"].style2:hover,
			input[type="submit"].style2:hover,
			input[type="reset"].style2:hover,
			button.style2:hover,
			.button.style2:hover {
				box-shadow: inset 0px 0px 2px 0px #606167;
			}

			input[type="button"].style2:active,
			input[type="submit"].style2:active,
			input[type="reset"].style2:active,
			button.style2:active,
			.button.style2:active {
				box-shadow: inset 0px 0px 2px 0px #202127;
			}

		input[type="button"].style3,
		input[type="submit"].style3,
		input[type="reset"].style3,
		button.style3,
		.button.style3 {
			background: #2f333b url("overlay.png");
			color: #fff;
		}

			input[type="button"].style3:hover,
			input[type="submit"].style3:hover,
			input[type="reset"].style3:hover,
			button.style3:hover,
			.button.style3:hover {
				background-color: #3f434b;
			}

			input[type="button"].style3:active,
			input[type="submit"].style3:active,
			input[type="reset"].style3:active,
			button.style3:active,
			.button.style3:active {
				background-color: #1f232b;
			}

/* List */

	ul.default {
		list-style: disc;
		padding-left: 1em;
	}

		ul.default li {
			padding-left: 0.5em;
		}

	ul.style2 li {
		border-top: solid 1px #eee;
		padding: 1.5em 0 0 0;
		margin: 1.5em 0 0 0;
	}

		ul.style2 li:first-child {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}

	ul.style3 li {
		border-top: solid 1px #eee;
		padding: 0.5em 0 0 0;
		margin: 0.5em 0 0 0;
	}

		ul.style3 li:first-child {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

/* Feature List */

	.feature-list h3 {
		color: #e97770 !important;
	}

		.feature-list h3:before {
			position: relative;
			display: inline-block;
			color: #fff;
			background: #2f333b url("overlay.png");
			border-radius: 1em;
			text-align: center;
		}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.icon > .label {
			display: none;
		}

/* Wrappers */

	.wrapper {
		position: relative;
	}

		.wrapper .title {
			position: absolute;
			top: 0;
			left: 50%;
			text-align: center;
			text-transform: uppercase;
			display: block;
			font-weight: 700;
			letter-spacing: 0.25em;
		}

			.wrapper .title:before {
				content: '';
				position: absolute;
				bottom: -38px;
				left: -35px;
				width: 35px;
				height: 38px;
				background: url("images/shadow.png");
			}

			.wrapper .title:after {
				-moz-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				-ms-transform: scaleX(-1);
				transform: scaleX(-1);
				content: '';
				position: absolute;
				bottom: -38px;
				right: -35px;
				width: 35px;
				height: 38px;
				background: url("shadow.png");
			}

		.wrapper.style1 {
			background: #e97770 url("overlay.png");
			color: #eee;
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style1 .title {
				background: #e97770 url("overlay.png");
				color: #fff;
			}

			.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6, .wrapper.style1 strong, .wrapper.style1 b, .wrapper.style1 a {
				color: #fff;
			}

		.wrapper.style2 {
			background: #fff;
		}

			.wrapper.style2 .title {
				background: #fff;
				color: #484d55;
			}

		.wrapper.style3 {
			background: #f3f3f3 url("overlay.png");
		}

			.wrapper.style3 .title {
				background: #f3f3f3 url("overlay.png");
				color: #484d55;
			}

			.wrapper.style3 .image {
				border: solid 10px #fff;
			}
                        #layout{
                            
                            height: 100%;
                        
                        }
                        
                        
	#header-wrapper {
                
		background: url(".jpg");
		background-size: 100%;
                height:100%;
              
                
               
                
	}

		#header-wrapper:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("overlay.png");
		}
                

	#footer-wrapper {
		background: #282b34 url("overlay.png");
		color: #eee;
		color: rgba(255, 255, 255, 0.5);
                border: 1px solid #000;
	}

		#footer-wrapper h1, #footer-wrapper h2, #footer-wrapper h3, #footer-wrapper h4, #footer-wrapper h5, #footer-wrapper h6, #footer-wrapper strong, #footer-wrapper b, #footer-wrapper a {
			color: #fff;
		}

		#footer-wrapper hr {
			border-top-color: #333;
			border-top-color: rgba(255, 255, 255, 0.05);
		}

		#footer-wrapper form input[type="text"],
		#footer-wrapper form input[type="email"],
		#footer-wrapper form input[type="password"],
		#footer-wrapper form select,
		#footer-wrapper form textarea {
			background: #ccc;
			box-shadow: none;
		}

			#footer-wrapper form input[type="text"]:focus,
			#footer-wrapper form input[type="email"]:focus,
			#footer-wrapper form input[type="password"]:focus,
			#footer-wrapper form select:focus,
			#footer-wrapper form textarea:focus {
				background: #fff;
			}

		#footer-wrapper input[type="button"],
		#footer-wrapper input[type="submit"],
		#footer-wrapper input[type="reset"],
		#footer-wrapper button,
		#footer-wrapper .button {
			color: #fff;
			box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
		}

			#footer-wrapper input[type="button"]:hover,
			#footer-wrapper input[type="submit"]:hover,
			#footer-wrapper input[type="reset"]:hover,
			#footer-wrapper button:hover,
			#footer-wrapper .button:hover {
				color: #fff;
				box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.65);
			}

			#footer-wrapper input[type="button"]:active,
			#footer-wrapper input[type="submit"]:active,
			#footer-wrapper input[type="reset"]:active,
			#footer-wrapper button:active,
			#footer-wrapper .button:active {
				box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
			}

			#footer-wrapper input[type="button"].style2:active,
			#footer-wrapper input[type="submit"].style2:active,
			#footer-wrapper input[type="reset"].style2:active,
			#footer-wrapper button.style2:active,
			#footer-wrapper .button.style2:active {
				box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
			}

		#footer-wrapper .title {
			background: #282b34 url("overlay.png");
			color: #eee;
		}

		#footer-wrapper header.style1 h2 {
			color: #fff;
		}

		#footer-wrapper header.style1 .p {
			color: inherit;
		}

		#footer-wrapper .feature-list section {
			border-top-color: #333;
			border-top-color: rgba(255, 255, 255, 0.05);
		}

		#footer-wrapper .feature-list h3:before {
			background: #3d4249 url("overlay.png");
		}

/* Logo */

	#logo h1 {
		font-weight: 900;
		text-transform: uppercase;
		color: #fff;
	}

	#logo p {
		color: #eee;
		color: rgba(255, 255, 255, 0.5);
		text-transform: uppercase;
	}

/* Intro */

	#intro > .style2 {
		font-weight: 700;
		color: #fff;
		border-radius: 0.35em;
		box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
	}

		#intro > .style2 a {
			color: inherit;
			text-decoration: none;
		}

/* Highlights */

	#highlights .highlight {
		text-align: center;
	}

		#highlights .highlight h3 {
			color: #e97770;
		}

/* Copyright */

	#copyright {
		text-align: center;
	}

		#copyright ul {
			display: inline-block;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.05);
			color: #aaa;
			color: rgba(255, 255, 255, 0.25);
		}

		#copyright a {
			color: inherit;
		}

			#copyright a:hover {
				color: #fff;
			}

/* Desktop + Tablet */

	@media screen and (min-width: 737px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
				line-height: 1.75em;
				letter-spacing: 0.025em;
                              
			}

			body {
				
			}

			hr {
				margin: 2em 0 2em 0;
			}

		/* Section/Article */

			section, article {
				margin: 0 0 4em 0;
			}

			header.style1 {
				padding: 3em 0 3em 0;
			}

				header.style1 h2 {
					font-size: 2em;
					letter-spacing: 0.075em;
					line-height: 1.5em;
				}

				header.style1 p {
					
					margin: 1.15em 0 0 0;
					font-size: 1.3em;
					letter-spacing: 0.075em;
					line-height: 1.5em;
				}

		/* Form */

			form label {
				margin: 0.25em 0 0.5em 0;
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				padding: 2px;
                                
				font-size: 1.0em;
				min-width: 12em;
				height: 4em;
				
                                background-color:  #C0C0C0;
                                color: #fff;
                          
                                
			}

				input[type="button"].big,
				input[type="submit"].big,
				input[type="reset"].big,
				button.big,
				.button.big {
					font-size: 1em;
					min-width: 14em;
				}

		/* List */

			ul.actions {
				margin: 3em 0 0 0;
			}

				ul.actions li {
					display: inline-block;
					margin: 0 0.75em 0 0.75em;
				}

					ul.actions li:first-child {
						margin-left: 0;
					}

					ul.actions li:last-child {
						margin-right: 0;
					}

			ul.actions-centered {
				text-align: center;
			}

			form ul.actions {
				margin-top: 0;
			}

		/* Feature List */

			.feature-list section {
				padding-top: 2em;
				border-top: solid 1px #eee;
			}

			.feature-list .row:first-child section {
				padding-top: 0;
				border-top: 0;
			}

			.feature-list h3 {
				margin: 0 0 0.75em 0;
				font-size: 1.15em;
				letter-spacing: 0.05em;
				margin-top: -0.35em;
			}

				.feature-list h3:before {
					width: 64px;
					height: 64px;
					line-height: 64px;
					margin-right: 0.75em;
					font-size: 32px;
					top: 0.2em;
				}

			.feature-list p {
				margin: 0 0 0 5em;
			}

			.feature-list.small h3:before {
				font-size: 24px;
				line-height: 45px;
				width: 45px;
				height: 45px;
				margin-right: 1em;
			}

			.feature-list.small p {
				margin: 0 0 0 4em;
			}

		/* Box */

			.box header {
				margin: 0 0 1.5em 0;
			}

				.box header.style1 {
					position: relative;
					margin: -0.5em 0 0 0;
					padding-top: 0;
				}

			.box h2 {
				margin: 0 0 0.75em 0;
				font-size: 1.15em;
				letter-spacing: 0.05em;
			}

			.box h3 {
				margin: 0 0 0.5em 0;
				font-size: 1em;
				font-weight: 600;
				letter-spacing: 0.05em;
			}

			.box.post-excerpt .image.left {
				position: relative;
				top: 0.5em;
				width: 5em;
			}

			.box.post-excerpt h3, .box.post-excerpt p {
				margin-left: 7em;
			}

		/* Wrappers */

			.wrapper {
				padding: 6em 0 9em 0;
			}

				.wrapper .title {
					font-size: 0.9em;
					width: 25em;
					height: 3.25em;
					top: -3.25em;
					line-height: 3.25em;
					margin-bottom: -3.25em;
					margin-left: -12.5em;
					padding-top: 0.5em;
				}

			#header-wrapper {
				padding: 0;
			}

			#intro-wrapper {
				padding-bottom: 8em;
			}

		/* Header */

			#header {
				position: relative;
				padding: 12em 0;
                                height: 100%;
			}

                        body{
                            
                           
                            height:100%;
                        }
                        
                        
                        
			.homepage #header {
				padding: 18em 0;
                                height: 100%;
                        }

		/* Logo */

			#logo {
				position: absolute;
				height: 5em;
				top: 30%;
				left: 0;
				width: 100%;
				text-align: center;
				margin-top: -0.5em;
			}

			.homepage #logo {
				margin-top: -1em;
			}

			#logo h1 {
				font-size: 2em;
				letter-spacing: 0.25em;
			}

			#logo p {
				margin: 1.25em 0 0 0;
				display: block;
				letter-spacing: 0.2em;
				font-size: 0.9em;
			}

		/* Nav */

			#nav {
			
                            position: relative;
                                
				display: block;
				top: 2.5em;
				left: 0;
				width: 100%;
				text-align: center;
                                height: 100px;
			}
                       #posbt{
                                    width: 240px;
                                    height: 300px;
                        }

				#nav > ul {
					display: inline-block;
					border-radius: 0.35em;
					box-shadow: inset 0px 0px 1px 1px #000;
					padding: 0 2.2em 0 2.2em;
				}

					#nav > ul > li {
						display: inline-block;
						text-align: center;
						padding: 0 0.8em 0 0.8em;
                                                float: left;
					}

						#nav > ul > li > ul {
							display: none;
						}

						#nav > ul > li > a, #nav > ul > li > span {
							display: block;
							color: #eee;
							color: #000;
							text-transform: uppercase;
							text-decoration: none;
							font-size: 1.1em;
							letter-spacing: 0.15em;
							height: 5em;
							line-height: 5em;
							-moz-transition: all .25s ease-in-out;
							-webkit-transition: all .25s ease-in-out;
							-o-transition: all .25s ease-in-out;
							-ms-transition: all .25s ease-in-out;
							transition: all .25s ease-in-out;
							outline: 0;
                                                        font-family: 'Source Sans Pro', sans-serif;
                                                        border-radius: 0.3em;
						}

						#nav > ul > li:hover > a {
							color: #fff;
                                                        text-shadow: 5px 5px 5px #000;
                                                        
						}

						#nav > ul > li.active > a, #nav > ul > li.active > span {
							color: #B22222;
                                                        
						}

			.dropotron {
				background: #222835 url("overlay.png");
				background-color: rgba(44, 50, 63, 0.925);
				padding: 1.25em 1em 1.25em 1em;
				border-radius: 0.35em;
				box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
				min-width: 12em;
				text-align: left;
				margin-top: -1.25em;
				margin-left: -1px;
			}

				.dropotron.level-0 {
					margin-top: -1px;
					margin-left: 0;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}

				.dropotron a, .dropotron span {
					-moz-transition: all .25s ease-in-out;
					-webkit-transition: all .25s ease-in-out;
					-ms-transition: all .25s ease-in-out;
					transition: all .25s ease-in-out;
					display: block;
					color: #eee;
					color: rgba(255, 255, 255, 0.75);
					text-transform: uppercase;
					text-decoration: none;
					font-size: 0.7em;
					letter-spacing: 0.25em;
					border-top: solid 1px rgba(255, 255, 255, 0.15);
					line-height: 3em;
				}

				.dropotron li:first-child a, .dropotron li:first-child span {
					border-top: 0;
				}

				.dropotron li:hover > a, .dropotron li:hover > span {
					color: #fff;
				}

		/* Intro */

			#intro {
				text-align: center;
			}

				#intro > .style1 {
					font-size: 1.5em;
					letter-spacing: 0.075em;
				}

				#intro > .style2 {
					font-size: 2.75em;
					letter-spacing: 0.075em;
					line-height: 1.35em;
					padding: 1em 0 1em 0;
					margin-bottom: 1em;
				}

				#intro > .style3 {
					font-size: 1.1em;
					width: 48em;
					margin: 0 auto;
				}

		/* Features */

			#features {
				padding: 0 6em 0 6em;
			}

				#features header.style1 {
					padding-bottom: 5em;
				}

				#features .actions {
					margin-top: 5em;
				}

		/* Highlights */

			#highlights .highlight h3 {
				margin: 0 0 0.75em 0;
				font-size: 1.15em;
				letter-spacing: 0.05em;
			}

		/* Main */

			#main {
				margin-top: 1em;
				margin-bottom: 1em;
			}

			.homepage #main {
				margin-top: 0;
				margin-bottom: 0;
			}

		/* Footer */

			#footer header.style1 {
				padding-bottom: 0;
			}

			#footer hr {
				margin: 6em 0 6em 0;
			}

		/* Copyright */

			#copyright {
				margin: 6em 0 0 0;
			}

				#copyright ul {
					padding: 0.75em 2em;
					font-size: 0.9em;
				}

					#copyright ul li {
						display: inline-block;
						margin-left: 1em;
						padding-left: 1em;
						border-left: solid 1px #333;
						border-left-color: rgba(255, 255, 255, 0.05);
					}

						#copyright ul li:first-child {
							border-left: 0;
							margin-left: 0;
							padding-left: 0;
						}

	}

/* Tablet Only */

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		/* Basic */

			body {
				min-width: 1000px;
                             
				font-size: 12pt;
				line-height: 1.5em;
				letter-spacing: 0.015em;
			}

			input, select, textarea {
				font-size: 12pt;
				line-height: 1.5em;
				letter-spacing: 0.015em;
			}

			body {
				min-width: 960px;
			}

		/* Wrappers */

			.wrapper {
				padding: 4em 0 7em 0;
			}

			#intro-wrapper {
				padding-bottom: 7em;
			}

			#footer-wrapper hr {
				margin: 3em 0 3em 0;
			}

		/* Header */

			#header {
				padding: 10em 0;
			}

			.homepage #header {
				padding: 14em 0;
			}

		/* Logo */

			#logo {
				margin-top: -0.5em !important;
			}

				#logo h1 {
					font-size: 1.75em;
				}

		/* Intro */

			#intro > .style1 {
				font-size: 1.25em;
			}

			#intro > .style2 {
				font-size: 2.25em;
			}

		/* Copyright */

			#copyright {
				margin: 3em 0 0 0;
			}

	}

/* Mobile Only */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 736px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, select, textarea {
				line-height: 1.5em;
				font-size: 10.5pt;
				letter-spacing: 0;
			}

			h2, h3, h4, h5, h6 {
				font-size: 1.2em;
				letter-spacing: 0.05em;
				margin: 0 0 1em 0;
			}

			hr {
				margin: 1em 0 1em 0;
			}

		/* Section/Article */

			section, article {
				clear: both;
				padding: 1em 0 1em 0 !important;
			}

			header br {
				display: none;
			}

			header.style1 {
				padding: 0 0 1em 0;
			}

				header.style1 h2 {
					font-size: 1.5em;
					letter-spacing: 0.075em;
					line-height: 1.25em;
				}

				header.style1 p {
					display: block;
					margin: 0;
				}

		/* Button */

			input,
			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				display: block;
				width: 100%;
				font-size: 1em;
				padding: 1em 0 1em 0;
				max-width: 30em;
				margin: 0 auto;
                                
			}

		/* List */

			ul.actions {
				margin: 2em 0 0 0;
			}

				ul.actions li {
					margin: 15px 0 0 0;
				}

			form ul.actions {
				margin: 1em 0 0 0;
			}

		/* Feature List */

			.feature-list section {
				border-top: solid 1px #eee;
			}

			.feature-list > div > div:first-child > div:first-child > section {
				border-top: solid 1px #eee;
				padding-top: 0;
                                
			}

			.feature-list h3 {
				position: relative;
				padding: 4px 0 0 48px;
				line-height: 1.25em;
			}

				.feature-list h3:before {
					position: absolute;
					left: 0;
					top: 0;
					width: 32px;
					height: 32px;
					line-height: 32px;
					font-size: 16px;
				}

			.feature-list p {
				margin: 0 0 0 48px;
			}

		/* Box */

			.box.post-excerpt .image.left {
				position: relative;
				top: 0.25em;
				width: 25%;
				margin: 0;
			}

			.box.post-excerpt h3, .box.post-excerpt p {
				margin-left: 32.5%;
			}

		/* Off-Canvas Navigation */

			#menu{
				
                                position: relative;
                                height: 100%;
                                border: 1px solid #000;
                                top: 500px;
			}

			#titleBar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
				background: none;
			}

				#titleBar .title {
					display: none;
				}

				#titleBar .toggle {
					position: absolute;
					top: 0;
					left: 0;
					width: 60px;
					height: 44px;
				}

                                
                               
					#titleBar .toggle:before {
						-moz-transition: all .15s ease-in-out;
						-webkit-transition: all .15s ease-in-out;
						-ms-transition: all .15s ease-in-out;
						transition: all .15s ease-in-out;
						font-family: FontAwesome;
						text-decoration: none;
						font-style: normal;
						font-weight: normal;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						content: '\f0c9';
						font-size: 14px;
						position: absolute;
						top: 6px;
						left: 6px;
						display: block;
						width: 54px;
						height: 38px;
						line-height: 38px;
						text-align: center;
						color: rgba(255, 255, 255, 0.75);
						background-color: rgba(92, 95, 103, 0.5);
						border-radius: 0.25em;
					}

					#titleBar .toggle:active:before {
						background-color: rgba(92, 95, 103, 0.75);
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #242730 url("overlay.png");
				box-shadow: inset -3px 0px 4px 0px rgba(0, 0, 0, 0.1);
			}

				#navPanel .link {
					display: block;
					color: rgba(255, 255, 255, 0.5);
					text-transform: uppercase;
					text-decoration: none;
					font-size: 0.85em;
					letter-spacing: 0.15em;
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border-top: solid 1px rgba(255, 255, 255, 0.05);
					margin: 0 15px 0 15px;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #titleBar {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

		/* Wrappers */

			.wrapper {
				padding: 15px 15px 5em 15px;
			}

				.wrapper .title {
					font-size: 0.9em;
					width: 18em;
					height: 2.5em;
					top: -2.5em;
					line-height: 2.5em;
					margin-bottom: -2.5em;
					margin-left: -9em;
					padding-top: 0.5em;
				}

					.wrapper .title:before, .wrapper .title:after {
						height: 15px;
						bottom: -15px;
						background-size: cover;
					}

			#header-wrapper {
				padding: 6em 2em 6em 2em;
			}

			#footer-wrapper {
				padding-top: 3em;
			}

				#footer-wrapper .feature-list section {
					border-top-color: #eee;
					border-top-color: rgba(255, 255, 255, 0.05);
				}

		/* Logo */

			#logo {
				text-align: center;
			}

				#logo h1 {
					font-size: 1.5em;
					letter-spacing: 0.2em;
				}

				#logo p {
					margin: 1.25em 0 0 0;
					display: block;
					letter-spacing: 0.2em;
					font-size: 0.9em;
				}

		/* Nav */

			

		/* Intro */

			#intro {
				text-align: center;
				padding: 1em 2em 1em 2em !important;
				margin: 0 auto;
			}

				#intro .style2 {
					font-size: 1.5em;
					letter-spacing: 0.05em;
					line-height: 1.25em;
					padding: 1.25em;
				}

		/* Main */

			#main {
				padding: 1em 0 0 0;
			}

		/* Content */

			#content {
				padding: 0 0 2em 0;
			}

				#content header.style1 {
					padding-bottom: 2.5em;
				}

		/* Footer */

			#footer hr {
				display: none;
			}

		/* Copyright */

			#copyright {
				padding: 2em 0 0 0;
			}

				#copyright ul {
					padding: 1em 2em;
					width: 100%;
				}

					#copyright ul li {
						display: block;
						margin: 0.5em 0 0 0;
					}

						#copyright ul li:first-child {
							margin-top: 0;
						}

	}